@import "_settings"

body
    font-family $body-font
    font-size $body-font-size
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale
    color $dark
    background-color white
    margin 0
    &.docs
        padding-top: $header-height