#mobile-header
    display none

#header
    background-color: $main-color;
    height: $header-height
    padding $heading-padding-vertical 20px
    position relative
    z-index 999

 #nav
    list-style-type none
    margin 0
    padding 0
    position absolute
    right 30px
    top $heading-padding-vertical
    height $header-height
    line-height $header-height
    .break
        display none
    li
        display inline-block
        position relative
        margin 0 .6em
        color: $contrast-color
        a
            color: $contrast-color

#logo
    display inline-block
    font-size 1.5em
    line-height $header-height
    color $main-font-color
    font-family $logo-font
    font-weight 500
    img
        vertical-align middle
        margin-right 6px
        width $header-height
        height $header-height

.search-query
    height 26px
    line-height 30px
    padding 0 15px 0 30px
    margin-bottom 3px
    border 1px solid #fff
    color $main-font-color
    outline none
    border-radius 15px
    margin-right 5px
    transition .2s ease
    background url(../images/search.png) 8px 4px no-repeat
    background-size 20px
    vertical-align middle !important
    &:focus
        background #fff url(../images/search.focus.png) 8px 4px no-repeat
        background-size 20px

@media screen and (max-width: 899px)
    #mobile-header
        position relative
        padding $heading-padding-vertical 20px
        height: $header-height
        display block
        background-color: $main-color;
        #github
            display block
            float right
            img
                width: $header-height
                height: $header-height
                
        #mobile-nav-toggle
            padding-top 4px
            float left
            .mobile-nav-toggle-bar
                border-bottom: 2px solid $contrast-color
                display block
                width 25px
                height 2px
                margin-bottom 4px

    #header
        display: none