// font faces
$body-font = 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif
$code-font = 'Roboto Mono', Monaco, courier, monospace

// font sizes
$body-font-size = 15px
$code-font-size = .8em

// colors
$dark   = #2c3e50
$medium = #34495e
$light  = #7f8c8d
$green  = #42b983
$border = #dddddd
$codebg = #f8f8f8
$red = #ff6666

//header
$header-inner-height = 36px
$heading-padding-vertical = 18px
$header-height = 35px

$index-color = #ff6666
$index-color-v2 = #ffffff
$index-h2-color = #ffffff
$index-start-button-border-color = #ffffff
$index-start-button-font-color = #ffffff