@import "_common"
@import "_header"
@import "_footer"

#index-body
    background: $main-color
    height 325px
    text-align center
    h2
        color: $contrast-color
        padding 40px 40px
        line-height: 50px
        font-size 24px
        margin-bottom 30px
    #get-start
        border: 1px solid $contrast-color
        padding 12px 40px
        color: $contrast-color
    
    #get-start:hover
        background-color: $contrast-color
        color: $main-color

@media screen and (max-width: 699px)
    #index-content
        padding 60px 40px 40px 40px
        text-align center
        .intro-feature
            height 135px
            padding-bottom 60px
            img
                width 45px
                height 45px
            h3
                color: $main-color
                font-size 20px
            p
                font-size 14px

@media screen and (min-width: 700px)
    #index-body
        height 500px
        h2
            padding 120px 80px 80px 80px
            font-size 36px

    #index-content
        padding 60px 40px 40px 40px
        text-align center
        li
            width 50%
            float left
            .intro-feature
                height 135px
                padding-bottom 60px
                img
                    width 45px
                    height 45px
                h3
                    color: $main-color
                    font-size 24px
                p
                    font-size 15px

    #index-content
        ul
            margin 0 auto
            max-width 1150px