<li><a href="<%- url_for("/v1/guide/") %>" class="nav-link<%- page.path.match(/guide/) ? ' current' : '' %>">教程</a></li>
<li><a href="<%- url_for("/v1/update/") %>" class="nav-link<%- page.path.match(/update/) ? ' current' : '' %>">更新记录</a></li>