body,
footer,
header,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
}
text-align center {
  -webkit-text-size-adjust: none;
  color: #f66;
}
body,
button,
input,
select,
textarea,
ol,
p,
blockquote,
dl,
dt,
dd,
ul,
li,
form,
fieldset,
legend,
th,
td {
  outline: none;
  font: 1em "Helvetica Neue", "Helvetica", "Lucida Grande", "Arial", "Hiragino Sans GB", "Microsoft Yahei", "WenQuanYi Micro Hei", "sans-serif", arial, sans-serif;
  text-align: left;
  color: #f66;
}
body {
  background-color: #fff;
  background-attachment: fixed;
}
ul,
ol {
  list-style: none;
}
a {
  color: #f66;
  text-decoration: none;
}
a text-decoration none {
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
  outline: 0;
  color: #f66;
}
.abs {
  position: absolute;
}
.clear:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clear {
  zoom: 1;
}
button {
  border: none;
}
html {
  overflow-x: hidden;
}
body {
  min-width: 20rem;
  overflow-x: hidden;
}
.border {
  padding-left: 1rem;
  padding-right: 1rem;
}
body,
html {
  background-color: #252526;
  height: 100%;
}
#banner {
  background-color: #252526;
  background: linear-gradient(#383838, #252526);
  width: 100%;
  color: #fff;
  text-align: center;
}
#banner ul {
  padding: 15px 10px 15px 10px;
}
#banner ul li.right {
  float: right;
}
#banner ul li {
  float: left;
  height: 35px;
  padding-left: 12px;
  padding-right: 12px;
  line-height: 35px;
  font-size: 13px;
  color: #878787;
}
#banner ul li a {
  color: #fff;
}
#banner ul li img {
  width: 35px;
  height: 35px;
}
#banner h1 {
  margin-top: 150px;
  font-size: 90px;
  font-family: "Hiragino Sans GB", "Segoe UI", "MS Sans Serif";
  font-weight: 100;
  padding-bottom: 30px;
}
#banner h1 blockquote {
  position: relative;
  top: -50px;
  font-size: 24px;
  display: inline-block;
  padding: 3px 7px 3px 7px;
  margin-left: 10px;
  color: #fff;
}
#banner h2 {
  font-size: 13px;
  padding-left: 10%;
  padding-right: 10%;
  font-weight: normal;
  line-height: 40px;
  color: #eee;
}
#banner .btn-download {
  margin-top: 50px;
}
#banner .btn-download a {
  display: block;
  background-color: #c04747;
  width: 125px;
  height: 40px;
  line-height: 40px;
  margin: 0 auto;
  color: #fff;
  font-size: 13px;
}
#banner .btn-download a:hover {
  text-decoration: none;
  background-color: #aa3939;
}
#banner .code-demo {
  width: 605px;
  margin: 0 auto;
  padding-top: 75px;
}
#banner .code-demo .top-bar {
  height: 30px;
  margin-bottom: 0;
  border-radius: 5px 5px 0px 0px;
  border-bottom: 1px solid #414141;
  background-color: #4b4b4b;
}
#banner .code-demo .top-bar .circles {
  padding-top: 11px;
  padding-left: 5px;
}
#banner .code-demo .top-bar .circles .circle {
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: #7d7d7d;
  float: left;
  margin-left: 5px;
}
#banner .code-demo .window-content {
  background-color: #3c3c3c;
  border-radius: 0px 0px 5px 5px;
  overflow: hidden;
}
#banner .code-demo .window-content ol {
  font-size: 12px;
  padding: 0;
}
#banner .code-demo .window-content ol li {
  float: none;
  height: 24px;
  line-height: 24px;
  color: #fff;
}
#banner .code-demo .window-content ol li .line {
  width: 30px;
  height: 100%;
  text-align: right;
  padding-right: 10px;
  margin-right: 15px;
  color: #919191;
  background-color: #4b4b4b;
  display: inline-block;
}
#banner .code-demo .window-content ol li .token.keywords {
  color: #569cd6;
}
#banner .code-demo .window-content ol li .token.interface {
  color: #b8d7a3;
}
#banner .code-demo .window-content ol li .token.text {
  color: #d69d85;
}
#banner #footer {
  bottom: 0;
  width: 100%;
  padding-bottom: 50px;
  padding-top: 175px;
}
#banner #footer p {
  text-align: center;
  color: #888;
  font-size: 12px;
  padding-top: 10px;
}
@media screen and (max-width: 640px) {
  #banner ul li img {
    width: 35px;
    height: 35px;
  }
  #banner h1 {
    margin-top: 75px;
    font-size: 48px;
  }
  #banner h1 blockquote {
    top: -30px;
    font-size: 16px;
    margin-left: 0px;
  }
  #banner .code-demo {
    width: 90%;
  }
  #banner #footer {
    padding-top: 50px;
  }
  .hiden {
    display: none;
  }
}
